<nav class="navbar">
  <!-- <div class="logo">ClaimSure LIC</div> -->
  <a routerLink="/" class="logo">ClaimSure LIC</a>
  <div class="nav-buttons">
    <a routerLink="/login" class="nav-btn">Login</a>
    <a routerLink="/register" class="nav-btn outline">Register</a>
  </div>
</nav>

<div class="login-container">
  <div class="card animate__animated animate__fadeIn">
    <h2 class="card-title">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <input type="text" formControlName="username" placeholder="Username" required class="form-control">
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Password" required class="form-control">
      </div>

      <ngx-recaptcha2 [siteKey]="siteKey" (success)="onCaptchaResolved($event)">
      </ngx-recaptcha2>
      <button type="submit" class="btn btn-login" [disabled]="!loginForm.valid || !captchaResolved">Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    <p class="forgot-password"><a routerLink="/forgot-password">Forgot Password?</a></p>
  </div>
</div>